#focused{
    color: black;
}
#mission{
    color: chocolate;
}
.half-width{
    border-left: 5px darkblue solid;
    width: 50%;
    padding: 5%;
}
body{
    font-family: 'Luxurious Roman', cursive;
}
h1{
    font-size:50px ;
}
span{
    color: red;
}
.flexible-container{
    display: flex;
    margin:5%;
}
,.half-width-img{
    width: 100%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;


}
.my-mission{
    padding-left: 30%;
}
.one-third-width{
    box-shadow: 10px 10px 20px rgb(98, 23, 219);
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width:33% ;
    border: white;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    
}
.resize{
    width: 200px;
    height: 200px;
}
